.videos {
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video {
    width: 560px;
    height: 315px;
}

@media (max-width:420px) {
    .video {
        width: 90%;
        height: 260px;
    }
}